<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <form id="loginForm">
        <input type="email" id="email" placeholder="Email" required><br><br>
        <input type="password" id="password" placeholder="Shh, it's secret" required><br><br>
        <input type="submit" value="Login">
    </form>
    <br><br>
    <a href="/register">Register</a> <button id="logoutBtn" style="display: none;">Logout</button>

    <script src="/public/login.js"></script>
</body>

</html>