body,.card{
    font-family: 'Inter', sans-serif;
    background: #EBFEFE;
}
.light-text{
    font-weight: 600;
}
.bold-text{
    font-weight: 900;

}

/* animation to image */

#float{
    position: relative;
    -webkit-animation: floatBubble 1s infinite;
        -webkit-animation-direction:alternate;
      }
    
    
    @-webkit-keyframes floatBubble{
     from{
            top:0;
            -webkit-animation-timing-function: ease-in;
    
       }
    
    
       to {
          top: 40px;
          -webkit-animation-timing-function: ease-out;
       }
    
    }
/* typewriting animation */
  
.typewriting-text {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  }
  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
 @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(22, 3, 104); }
}